:root {

    /* header */

    --color-background-2: white;


}

header {
    display: block;
    border: 1px solid brown;
}


.name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-list {
    display: flex;
}

.nav-list li a {
    color: black;
}

.menu {
    display: none;
}

/* @media screen and (max-width: 550px) {
    .abrir-menu {
        display: block;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: bisque;
        padding: 2rem;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    } */